;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:core {:target :node-library
            :output-to "dist/index.js"
						:exports {:add core.fn/add
                      :subtract core.fn/subtract}}}}
