;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:core {:target :node-library
         :output-to "dist/index.js"
         :exports {:detect core.node.fn/detect}}
  :web {:target :node-library
   :output-to "dist/web_index.js"
	 :exports {:detect core.web.fn/detect}}}}
